pre {
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    text-wrap: wrap;
    overflow-wrap: break-word;
    word-break: break-word;
}

pre img {
    border: 2px solid var(--bs-gray-300);
}