pre {
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    white-space: wrap;
    white-space-collapse: preserve-breaks;
}

pre img {
    border: 2px solid var(--bs-gray-300);
}