<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('../partials/head.ejs', {title: "Home"}) %>
</head>

<body>
  <%- include('../partials/components/nav.ejs', {currentPage: "home"}) %>
  <main class="container py-2 my-3">
    <h1 class="text-center mb-3">Recent Posts</h1>
    <section id="posts" class="d-flex flex-column flex-lg-wrap flex-lg-row align-items-center justify-content-lg-center gap-3 w-100 m-auto" style="max-width: 60rem;">
    </section>
  </main>
  <%- include('../partials/scripts.ejs') %>
  <script src="/shersocial/static/js/pages/home.js"></script>
</body>


</html>