<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('../../partials/head.ejs', {title: "Admin Dashboard"}) %>
</head>

<body>
  <%- include('../../partials/components/nav.ejs', {currentPage: "admin"}) %>
  <main class="container py-2">
    <section class="card m-auto" style="max-width: 50rem;">
      <%- include('../../partials/components/adminNav.ejs', {currentAdminPage: "dashboard"}) %>
      <section class="card-body">
        <h4>Quick Actions</h4>
        <section class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
          <section class="p-1">
            <a href="/admin/users/add" class="btn btn-outline-primary w-100 py-3" role="button">
              <i class="fa-solid fa-circle-plus"></i> Add User
            </a>
          </section>
          <section class="p-1">
            <a href="/admin/signup-codes/add" class="btn btn-outline-info w-100 py-3" role="button">
              <i class="fa-solid fa-circle-plus"></i> Add Sign Up Code
            </a>
          </section>
        </section>
      </section>
    </section>
  </main>
  <%- include('../../partials/scripts.ejs') %>
</body>


</html>