<ul class="nav nav-tabs px-2">
  <li class="nav-item">
    <a class="nav-link <%= locals.currentAdminPage === 'dashboard' ? 'active' : '' %>" href="/shersocial/admin">Dashboard</a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= locals.currentAdminPage === 'users' ? 'active' : '' %>" href="/shersocial/admin/users">Users</a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= locals.currentAdminPage === 'signup-codes' ? 'active' : '' %>" href="/shersocial/admin/signup-codes">Sign Up Codes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= locals.currentAdminPage === 'posts' ? 'active' : '' %>" href="/shersocial/admin/posts">Posts</a>
  </li>
</ul>